div.midcontainer {
    display: flex;
    width: 100%;
    flex-direction: column ;
    height: 100%;
    padding-top:4%;
}


div.principal {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-size: 6.5vw;
    background-color: #1abc9c;
    height: 83.33%;
    font-family: 'Saira Stencil One', cursive;
    background-image: url("design.png");

}

div.petro{
    margin-bottom: -4%;
    margin-top: -2%;
}

div.frase{
    font-size: 2.3vw;
    margin-top: -1%;
    font-family: 'Mansalva', cursive;
}

div.servicos {
    display: flex;
    width: 100%;
    background: white;
    height: 83.33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div.servicos div.subServi{
	display: flex;
	width: 80%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}


div.servicos div.subServiMid{
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

div.box{
	display: flex;
	height: 90%;
	width: 32vw;
	border-radius: 3%;
	background-image: url("teste.jpg");
	background-position: center;
	align-items: center;
	justify-content:center;
}

div.sobre {
    display: flex;
    width: 100%;
    background: green;
    height: 83.33%;
}

div.seletivo {
    display: flex;
    width: 100%;
    background: gray;
    height: 83.33%;
}

div.contato {
    display: flex;
    width: 100%;
    background: yellow;
    height: 83.33%;
}

div.footer {
    width: 100%;
    background-color: #003366;
    height: 20%;
}

img.gota {
    max-width:20%;
    height:auto;
}

img.star {
    max-width:50%;
    height:auto;
}